
@{
    ViewData["Title"] = "Билеты забронированы";
}

<div id="container--account">
    <div class="container w-75 mt-4">
        <h4 class="text-center mb-4">Бронирование билетов</h4>
        <hr />

        <div class="d-flex flex-column align-items-center">
            <span class="text-body">Ваши билеты забронированы.</span>
        </div>
    </div>
    <hr />
</div>