@using  Lumiere.ViewModels
@model List<BookingFilmViewModel>

@{
    ViewData["Title"] = "Бронирование билетов";
}

<div class="container--account">
    <div class="container w-75 mt-4 mb-4">
        <h4 class="text-center mb-4">Бронирование билетов</h4>
        <hr>

        <div class="information container w-75 pt-4 pb-4 pl-2 pr-2" id="information">
            <!-- selects -->
            <div id="options" class="d-flex justify-content-around mb-3">

                <div class="form-group">
                    <label for="film">Название фильма</label>
                    <select id="film" class="form-control" style="max-width: 225px;" onchange="loadDates($('#film'));">
                        @foreach (BookingFilmViewModel bookingFilm in Model)
                        {
                            @if (ViewBag.SelectedFilm == bookingFilm.FilmId)
                            {
                                <option value=@bookingFilm.FilmId selected>@bookingFilm.FilmName</option>
                            }
                            else
                            {
                                <option value=@bookingFilm.FilmId>@bookingFilm.FilmName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="format">Формат</label>
                    <span id="format" class="form-control text-center"></span>
                </div>
                <div class="form-group">
                    <label for="date">Дата</label>
                    <select id="date" class="form-control" onchange="loadTimes($('#date'));"></select>
                </div>
                <div class="form-group">
                    <label for="time">Время</label>
                    <select id="time" class="form-control" onchange="loadRoom($('#time'));"></select>
                </div>
                <div class="form-group">
                    <label for="roomNumber">Зал</label>
                    <select id="roomNumber" class="form-control" onchange="loadPrice($('#roomNumber'));"></select>
                </div>
            </div>

            <table id="places" class="mb-2 mt-3">
                <tbody>
                    <tr>
                        <td></td>
                        <td colspan="5" class="text-center">
                            <div id="screen" class="w-75 text-center m-auto">
                                Экран
                            </div>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td class="pr-4">Ряд 1</td>
                        <td id="checkbox" class="text-center">
                            <input id="seat_check" class="check" onclick="takePlace(this)" type="checkbox">
                            <span for="seat_check" class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input id="seat_check" class="check" onclick="takePlace(this)" type="checkbox">
                            <span for="seat_check" class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input id="seat_check" class="check" onclick="takePlace(this)" type="checkbox">
                            <span for="seat_check" class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input id="seat_check" class="check" onclick="takePlace(this)" type="checkbox">
                            <span for="seat_check" class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input id="seat_check" class="check" onclick="takePlace(this)" type="checkbox">
                            <span for="seat_check" class="inner-input">5</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ряд 2</td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">5</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Ряд 3</td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">5</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Ряд 4</td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">5</span>
                        </td>
                    </tr>

                    <tr>
                        <td>Ряд 5</td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">5</span>
                        </td>
                    </tr>

                    <tr id="row_6">
                        <td>Ряд 6</td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">1</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">2</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">3</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">4</span>
                        </td>
                        <td id="checkbox" class="text-center">
                            <input class="check" onclick="takePlace(this)" type="checkbox">
                            <span class="inner-input">5</span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="text-center"><span id="place_help" class="text-danger"></span></div>
            <div class="d-flex justify-content-around align-items-center mt-2">
                <table id="table">
                    <tbody>
                        <tr>
                            <th class="text-right">Выбрано мест:</th>
                            <td id="number" class="value pl-2">0</td>
                        </tr>
                        <tr>
                            <th class="text-right">Стоимость билета:</th>
                            <td id="price" class="value pl-2">0</td>
                        </tr>
                        <tr>
                            <th class="text-right">Общая стоимость:</th>
                            <td id="total_price" class="value pl-2">
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="buy" onclick="book()" class="btn btn-outline-success">Бронировать</button>
            </div>
        </div>
    </div>
    <hr />
</div>

@(!User.Identity.IsAuthenticated || !User.IsInRole("admin") ? await Component.InvokeAsync("PostersSlider") : new StringHtmlContent(""))