@model List<TimeSpan>

    <select id='time' class="select" onchange="loadRoom($('#time'));">
        @foreach(TimeSpan time in Model)
        {
            <option value=@time>@time.ToString(@"hh\:mm")</option>
        }
    </select>