@model Lumiere.ViewModels.EditProfileViewModel

@{
    ViewData["Title"] = "Edit";
}
<div id="container--account">
    <div class="container w-75 mt-4 mb-5">
        <h4 class="flex-grow-1 text-center mb-4">Изменить пользователя</h4>
        <hr />
        <div class="d-flex justify-content-center">
            <form method="post" asp-controller="User" asp-action="Edit" style="min-width: 350px;">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="FirstName">Имя</label>
                    <input type="text" asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SecondName">Фамилия</label>
                    <input type="text" asp-for="SecondName" class="form-control"/>
                    <span asp-validation-for="SecondName"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth">Дата рождения</label>
                    <input type="date" asp-for="DateOfBirth" class="form-control"/>
                    <span asp-validation-for="DateOfBirth"></span>
                </div>

                @if (ViewBag.CurrentUserIsAdmin)
                {
                    <div class="form-group form-check">
                        <input type="checkbox" asp-for="IsAdmin" class="form-check-input"/>
                        <label asp-for="IsAdmin">Администратор</label>
                        <span asp-validation-for="IsAdmin"></span>
                    </div>
                }

                <div>
                    <input type="submit" value="Сохранить"  class="btn btn-outline-dark"/>
                </div>
            </form>
        </div>
    </div>    
    <hr />
</div>