@model Lumiere.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Забыли пароль";
}

<div id="container--account">
    <div class="container w-75 mt-5 mb-5">
        <h4 class="text-center mb-2">Восстановить пароль</h4>
            <div class="d-flex flex-column align-items-center">
                <form class="p-2 mt-2" style="min-width:350px; max-width:500px;" method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <div asp-validation-summary="All"></div>

                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                        <small class="text-muted">Введите адрес электронной почты</small>
                    </div>

                    <div>
                        <input type="submit" value="Отправить" class="btn btn-secondary"/>
                    </div>
                </form>
            </div>
    </div>
    <hr />
</div>
