
@{
    ViewData["Title"] = "Успешный сброс пароля";
}
    <div id="container--account">
        <div class="container w-75 mt-5 mb-5">
            <h4 class="text-center mb-2">Восстановить пароль</h4>
            <div class="d-flex flex-column align-items-center">
                <span>Ваш пароль сброшен. Для входа используйте новый пароль.</span>

                <div>
                    <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Войти</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
