.information {
    background: linear-gradient(180deg, rgba(226,226,226,1) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.021);
    align-items: center;
}

#places {
    margin: 0 auto;
}

    #places input {
        cursor: pointer;
        margin-left: 20px;
        width: 30px;
        height: 30px;
        -webkit-appearance: none;
        background: linear-gradient(180deg, #7edd128c 0%, #16a03485 100%);
        transition: 0.5s;
        outline: 1px solid rgba(0, 0, 0, 0.205);
    }

input:checked[type="checkbox"] {
    background: #f10707cb !important
}
